*{
    margin: 20px;
    padding: 0;
}

#topo a{
    color: rgb(255, 217, 0);
    text-decoration: none;
}

#topo a:hover{
    text-decoration: underline;
}

body{
    background-color: black;
    margin: 0;
    background-image: url(./itens.estelar/fundo\ \(2\).png);
    background-repeat: no-repeat;
    background-size: 100%;
}


@font-face {
        font-family: "Robin";
        src: url("./itens.robin/Gobold\ Bold.otf");
    }

h1{
    color: rgb(255, 217, 0);
    margin: 37px;
    letter-spacing: 10px;
    font-family: "Robin";
    font-size: 50px;
}

#item-texto{
    color: white;
    margin: px;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 215px;
    display: inline;
    position: relative;
    left: 1050px;
    bottom: 100px;
    margin: 0px;
}
