/*Página Geral*/

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif,Arial, Helvetica, sans-serif;
}
.img-logo{
    width: 130px;
    height: 130px;
    border-radius: 100px;
    margin-left: 89%;
    border: 100%;
    min-width: 130px;
    max-width: 130px;
}

body{
    background-image: url("imagens/TORRE_DE_LOS_TITANES.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px;
    width: 50%;
    margin-top: 80px;
}

h2{
    color: white;
    font-size: 50px;
}


#titulo{
    color: white;
    font-size: 130px;
    font-weight: bold;
}

a{
    text-decoration: none;
    font-size: 25px;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
}